.gallery {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;

  visibility: hidden;

  &__figure {
    height: 55rem;

    &:nth-child(1) {
      margin-top: -15%;
    }
  }

  &__img {
    height: 100%;
    left: 0;
    object-fit: cover;
    top: 0;
  }
}
