.gallery {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;

  position: relative;
  visibility: hidden;

  &__figure {
    position: relative;

    height: 55rem;
  }

  &__img {
    height: 100%;
    left: 0;
    object-fit: cover;
    top: 0;
  }
}

.title {
  user-select: none;
  pointer-events: none;
  position: absolute;
  font-size: 15rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
