.gallery {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  visibility: hidden;

  &__figure {
    position: relative;

    &:nth-child(1) {
      height: 85rem;
      width: 70rem;
    }
  }

  &__img {
    height: 100%;
    left: 0;
    object-fit: cover;
    top: 0;
    width: 100%;
  }
}

.title {
  user-select: none;
  pointer-events: none;
  position: absolute;
  font-size: 15rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
