.title-wrapper {
  user-select: none;
  pointer-events: none;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;

  .title {
    font-size: 10vw;
    line-height: 0.9;
    color: #f186da;

    display: inline-block;
    overflow: hidden;
  }

  .title__inner {
    display: block;
  }
}
